body
{
    background-color: black;
}

#zombietomb
{
    position: relative;
    overflow: hidden;
    width:100px;
    height:100px;
    border: 2px solid white;
}

#zombie {
    position: absolute;
}