/* *************************
Reset CSS
************************* */
:root {
    /* color */
    --clr-svg: #950000;
    --clr-bg: #ebe3db;
    --clr-as: white;
    --clr-bg_hf: rgb(69, 69, 69);
    --clr-navh:  #4c4343;
    --clr-bs: black;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
ul,
h1 {
    margin: 1rem;
}
/* body {
    margin: 0 auto  ;
    max-width: 1400px;
    width: 100%;
} */
img{
    max-width: 100%;
}
@font-face {
    font-family: Merienda;
    src: url("../assiets/fonts/Merienda/Merienda-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: Merienda;
    src: url("../assiets/fonts/Merienda/Merienda-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Athiti;
    src: url("../assiets/fonts/athiti/Athiti-Bold.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: Athiti;
    src: url("../assiets/fonts/athiti/Athiti-Medium.ttf) format(truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: Athiti;
    src: url("../assiets/fonts/athiti/Athiti-Light.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
/* ----------------------------
HEADER
----------------------------- */
header {
    margin-bottom: 2rem;
    font-family: Athiti, sans-serif;
    background-image: linear-gradient( var(--clr-bg), var(--clr-as), var(--clr-as));
    text-align: center;
}
h2,
h3,
h4 {
    font-family: Merienda, sans-serif;
}

.logo {
    padding: 1rem;
}
.logo a{
    text-decoration: none;
    color: black;
}
.logo img {
    width: 8rem;
}
.star {
    width: 1rem;
    color: var(--clr-svg);
}
.navbar ul{
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: 25px;
    background-color: var(--clr-bg);
}
.navbar a{
    display: block;
    text-decoration: none;
    color: var(--clr-bs);
    padding: 1rem 2rem;
    transition: background-color 1s, color 1s;
    background-color: var(--clr-bg);
}
.navbar a:hover {
    background-color: var(--clr-svg);
    color: var(--clr-as);
}
.navbar a:focus {
    background-color: var(--clr-navh);
    color: var(--clr-as);
}
.navbar ul li {
    text-decoration: none;
    border-top: 1px solid var(--clr-bs);
    list-style: none;
    margin: 0;
}   
.navbar ul li:last-child {
    border-bottom: 1px solid var(--clr-bs);
}

/* ----------------------------
FOOTER
----------------------------- */
footer{
    text-align: center;

}
aside {
    background-image: url("images/images/footer-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1rem;
    color: var(--clr-as);
    margin-top: 1rem;
}
footer span {
    text-decoration: underline;
}
hr {
    border-style: dashed;
    color: var(--clr-bg);
}
.adress p a{
    color: var(--clr-as);
    text-decoration: none;
}
footer a {
    color: white;
}
.foot {
    background-color: var(--clr-bg_hf);
    color: var(--clr-as);
    padding-block: 1rem;
}
.icons {
    width: 1rem;
    margin-left: 20px;
}
svg[fill="white"]:hover {
    fill:#950000;
    transition: .5s;
}
.app a{
    text-decoration: none;
}

.app{
    display: flex;
}
/* *******************
 Tablette
******************** */
@media screen and (min-width: 780px) {
    .logo {
        justify-content: center;
        align-items: center;
    }
    .navbar ul {
        display: flex;
        justify-content: space-between;
        padding: .2rem 1rem;
    }
    .navbar ul li {
        border: 1px solid var(--clr-bg);
    }
    .navbar ul li:last-child {
        border-bottom: none;
    }
    aside {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}
/* *******************
Desktop
******************** */
@media screen and (min-width: 980px) {
    header {
        display: flex;
        justify-content: space-between;
    }
    header h1 {
        margin: 0;
        display: inline;
    }
    .logo {
        display: flex;
        /* flex-direction: row; */
        /* flex-wrap: nowrap; */
        justify-content: center;
        align-items: center;
        /* flex-basis: 50%; */
    }
    .navbar ul {
        display: flex;
        flex-direction: row;
        /* gap: 1rem; */
    }
    .navbar ul li {
        border: 1px solid var(--clr-bg);
        margin: .5rem;
    }
    .logo > * {
        display: inline;
    }
    .navbar ul li {
        border: 1px solid var(--clr-bg);
    }    
    .navbar {
        align-self: center;
    }
    .navbar a {
        width: 100%;
        display: block;
        padding:1rem;
    }
    .aside {
        display: flex;
    }
    .navbar ul {
        background-color: rgba(255, 255, 255, 0);
    }
}