/* desktop */

*::before,
*::after{
    box-sizing: border-box;
}

@font-face {
    font-family: Nunito;
    src: url("../fonts/nunito/nunito-extralight.ttf");
    color: #414141;
    font-size: 18px;
}

@font-face {
    font-family: Fjalla One;
    src: url("../fonts/fjalla_one/fjallaone-regular.woff2");
    color: #414141;
    font-size: 16px;
}

@font-face {
    font-family: Fjalla One;
    src: url("../fonts/fjalla_one/fjallaone-regular.ttf");
    color: #414141;
    font-size: 18px;
}

header{
    background-color: #00748D;
    background-image: url("../archidesign/images/path.png");
    background-repeat: repeat-x;
    background-position: bottom;
    padding-left: 60px;
} 

div{
    margin-right: 270px;
}

.ig{
    background-color: #00748D;
    background-image: url("../archidesign/images/path.png");
    background-repeat: repeat-x;
    background-position: bottom;
    position: relative;
    height: 5rem;
    bottom: 0;
    padding-left: 60px;  
}

footer{
    text-align: center;
    background-color: rgb(82, 79, 79);
    color: #f9f9f9;
    padding: 20px;
}

.design{
    display: inline;
    color: white;
    font-family: Fjalla One;
    font-size: 20px;
}

.container{
    margin: 0 auto;
    width: 80%;
    margin-bottom: 30px;
}

body{
    margin: 0;
}

ul{
    display: flex;
    text-decoration: none;
}

li{
    list-style: none;
}

h1{
    display: inline;
    justify-content: start;
    font-family: Fjalla One;
    color: white;
    font-size: 20px;
    font-weight: 100;
}

.bcg article{
    position: absolute;
    justify-content: center; 
    align-content: center;
    margin-top: 150px;
}

h2{
    background-color: #CB8606;
    padding: 14px;
    color: white;
    width: 260px;
    height: 20px;
    margin-left: 30px;
    font-family: Fjalla One;
    font-size: 20px;
    text-transform: uppercase;
}

.bcg article p{
    background-color: #f9f9f9;
    padding: 10px;
    color: #00748D;
    font-weight: bold;
}

.bcg{
    background-image: url("../archidesign/images/bg-header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 30rem;
    text-align: center;
    position: relative;
    padding: 30px;
    display: flex;
    justify-content: center;
}

h3{
    font-family: Fjalla One;
    font-size: 25px;
    text-align: center;
    color: #00748D;
    margin: 40px;
}

* p{
    font-size: 18px;
    margin: 0;
}

h4{
    font-family: Fjalla One;
    font-size: 16px;
    color: #414141;
    text-align: center;
}

section img{
    max-width: 100%;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid article p{
    margin: 20px ;
}

a{
    border: 1px solid #00748D;
    color: white;
    background-color: #00748D;
    padding: 12px 40px;
    margin-left: 100px;
    text-decoration: none;
    font-size: 18px;
}

.img{
    position: absolute;
    bottom: 0;
}

nav{
    display: flex;
    justify-content: flex-end;
    align-content: flex-start;
    font-family: Fjalla One;
}
   
li a{
    display: flex;
    align-items: start;
}


.container img{
    width: 100%;
    height: auto;
}

li a:hover{
    background-color: #f9f9f9;
    color: #00748D;
}

.b{
    border: 3px solid #00748D;
}

.icons{
    background-color: #CB8606;
    color: #f9f9f9;
    width: 60px;
    height: 60px;
    display: flex;
    justify-self: center;
    text-align: center;
    margin-left: 160px;
}

span{
    color: #CB8606;
}
/* petit mobile */
@media screen and (max-width: 630px) {
    .container{
        
    }
}

