.test {
    width: 400px;
    height: 200px;
    margin: 100px auto 0;
    background-color: #fc3;
    margin-top: 50px;
    transform-origin: bottom left;
    transform: matrix(2);
}

body {
    margin-top: 10rem;
}

